body {
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-gray-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 40px;

  &--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    text-indent: 35px;
    animation-name: moveInLeft;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    text-indent: 17.4px;
    animation-name: moveInTop;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
  }
}
